---
import CodeViewer from "@/components/ui/CodeViewer.astro";
---

<div>
    <h2 class="text-3xl font-bold mb-6 text-center translate-x-4.5">
        <span class="text-primary font-bold">Play</span><span
            class="text-blue-500 font-bold">Ground</span
        >
    </h2>

    <div class="grid lg:grid-cols-2 gap-4">
        <CodeViewer
            id="input"
            value={""}
            color="text-primary/75"
            editable={true}
            mr-1
        >
            <span class="text-primary font-bold mr-1"> .bob </span>{" "}
            <span class="text-white">input</span>
        </CodeViewer>
        <CodeViewer
            id="output"
            value={""}
            color="text-blue-500/75"
            class="pointer-events-none"
        >
            <span class="text-blue-500 font-bold mr-1"> .bob </span>{" "}
            <span class="text-white">output</span>
        </CodeViewer>
    </div>
</div>

<script>
    import WASM from "@/lib/wasm";
    const $input = document.getElementById("input") as HTMLTextAreaElement;
    const $output = document.getElementById("output") as HTMLDivElement;

    const defaultQuery = `table User {
  id id
  name string
  email string unique index required
  created_at current
  Profile id optional
}

table Profile {
  avatar string
}

get User {
    id
    name
    email
    if email = "test@test.com"
}

new User {
    name "John Doe"
    email "johndoe@test.com"
}

set User {
    name "Public"
    if name = "Anon"
}

get User {
    name
    -> Profile {
      avatar
    }
}`;

    async function handleWasm() {
        const b = await WASM();
        const i = $input.value || defaultQuery;
        if ($input) $input.value = i;
        const query = b(i);

        if (!$output) return;

        $output.textContent = query.error || query.value;
    }

    console.log($input);

    $input.addEventListener("input", handleWasm);
    handleWasm();
</script>
